html {
   font-size: medium;
}

body {
   background-color: rgb(19, 20, 32);
}

a {
  font-family: Gadugi, Helvetica, sans-serif;
  color: #FFFFFF;
  font-size: medium;
  text-decoration: none;
}

a.active {
  color: #867fbf;
}

a.text {
  font-size: inherit;
}

a:hover {
  color: #867fbf;
}

table.menu {
  font-family: Gadugi, Helvetica, sans-serif;
  font-size: medium;
  color: #FFFFFF;
  width: 535px;
}

table.header {
  background: rgba(47, 48, 78, 0.75);
  width: 640px;
}

tr.header_vpad {
  height: 20px;
}

td.hpad {
  width: 20px;
}

table.content {
  background: rgba(19, 20, 32, 0.75);
  width: 640px;
}

td.content_hpad {
  width: 20px;
}

div.content {
  color: #cecbe7;
  font-family: Gadugi, Helvetica, sans-serif;
  font-size: smaller;
}

div.date {
  color: #cecbe7;
  font-family: Gadugi, Helvetica, sans-serif;
  font-size: smaller;
  font-style: italic;
}

h1 {
  color: #cecbe7;
  font-family: Gadugi, Helvetica, sans-serif;
  font-size: larger;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
}

h2 {
  color: #cecbe7;
  font-family: Gadugi, Helvetica, sans-serif;
  font-size: medium;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
}

h3 {
  font-family: Gadugi, Helvetica, sans-serif;
  color: #FFFFFF;
  font-size: smaller;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
}

.hidden {
  display: none;
  color: #cecbe7;
  font-family: Gadugi, Helvetica, sans-serif;
  font-size: smaller;
}

.unhidden {
  display: block;
  color: #cecbe7;
  font-family: Gadugi, Helvetica, sans-serif;
  font-size: smaller;
} 

.form_in {
  width: 290px;
  background-color: rgba(19, 20, 32);
  border: 1px solid #ffffff;
  color: #ffffff;
}
