html {
   font-size: 100%;
}

body {
   background-color: rgb(19, 20, 32);
   font-size: 100%;
}

a {
  font-family: Gadugi, Helvetica, sans-serif;
  color: #FFFFFF;
  font-size: 100%;
  text-decoration: none;
}

a.active {
  color: #867fbf;
}

a.text {
  font-size: inherit;
}

a:hover {
  color: #867fbf;
}

table.menu {
  font-family: Gadugi, Helvetica, sans-serif;
  font-size: 100%;
  color: #FFFFFF;
  width: 100%;
}

table.header {
  background: rgba(47, 48, 78, 0.75);
  width: 100%;
}

tr.header_vpad {
  height: 20px;
}

td.hpad {
  width: 20px;
}

table.content {
  background: rgba(19, 20, 32, 0.75);
  width: 100%;
}

td.content_hpad {
  width: 20px;
}

div.content {
  color: #cecbe7;
  font-family: Gadugi, Helvetica, sans-serif;
  font-size: 83.3%;
}

div.date {
  color: #cecbe7;
  font-family: Gadugi, Helvetica, sans-serif;
  font-size: 83.3%;
  font-style: italic;
}

h1 {
  color: #cecbe7;
  font-family: Gadugi, Helvetica, sans-serif;
  font-size: 120%;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
}

h2 {
  color: #cecbe7;
  font-family: Gadugi, Helvetica, sans-serif;
  font-size: 100%;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
}

h3 {
  font-family: Gadugi, Helvetica, sans-serif;
  color: #FFFFFF;
  font-size: 83.3%;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
}

.hidden {
  display: none;
  color: #cecbe7;
  font-family: Gadugi, Helvetica, sans-serif;
  font-size: 83.3%;
}

.unhidden {
  display: block;
  color: #cecbe7;
  font-family: Gadugi, Helvetica, sans-serif;
  font-size: 83.3%;
} 

.form_in {
  width: 96.7%;
  background-color: rgb(19, 20, 32);
  border: 1px solid #ffffff;
  color: #ffffff;
}

table.form_table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}
